<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/home.css') }}" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header>
        
        <h1>Notes</h1>
        <a href="/write-note">New note</a>
    </header>
    <main>
        <div class="notes-container">
            {% for note in notes %}
                <div class="note-container">
                    <a href="/note/{{ note.id }}">
                        <div class="note">
                            <b>{{ note.title }}</b>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>